@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply font-sans;
}